# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Environment Variables
.env
.env.local

# IDE & Editor
.vscode/
.idea/
*.swp
*.swo

# OS files
Thumbs.db
.DS_Store

# Temporary & Log files
*.log
scratch/
